* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./images/background.png) no-repeat center center/cover;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: #333;
    overflow-x: hidden;
}